@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
	--dark-color: #000;
	--light-black: #333;
	--main-color: lightseagreen;
	--hover-text: lightcyan;
	--white-color: #fff;
	--border: 1rem solid var(--main-color) ;
}

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.2s linear; 
}

html {
	font-family: 'Nunito', sans-serif;
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

html::selector {
	color: pink;
	background: var(--main-color);
}

html::-webkit-scrollbar {
	width: 0.7rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: var(--main-color);
}

section {
	padding: 2rem 9%;
	min-height: 100vh;
}

body {
	background: var(--dark-color);
	padding-right: 5rem;
}

header {
	position: fixed;
	right: 0; top: 0;
	min-height: 100vh;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: var(--light-black);
	z-index: 1000;
}

.heading {
	text-align: center;
	padding-bottom: 2rem;
	font-size: 6rem;
	text-transform: uppercase;
	color: var(--main-color);
}

.heading span {
	text-transform: uppercase;
	color: var(--hover-text);	
}

header .navbar {
	writing-mode: vertical-rl;
	padding: 1.5rem;
}

header .navbar a {
	padding: 1.5rem;
	font-size: 2rem;
	color: var(--main-color);
}

header .navbar a:hover {
	color: var(--hover-text);
}

.btn {
	display: inline-block;
	background: var(--main-color);
	padding: 1rem 1.5rem;
	color: var(--white-color);
	cursor: pointer;
	font-size: 1.7rem;
	border-radius: 0.5rem;
	margin-top: 1rem;
}

/*.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:#222;
    color:#fff;
    font-size: 1.7rem;
    cursor: pointer;
}*/

.btn:hover {
	background: var(--hover-text);
	color: var(--main-color);
	letter-spacing: 0.3rem;
}

#menu-btn{
	position: fixed;
	z-index: 10000;
	top: 1rem; left: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	color: var(--main-color);
	font-size: 3rem;
	background: var(--light-black);
	cursor: pointer;
	display: none;
}

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative; /* the publisist  */
}

.home .content {
	text-align: center;
	position: relative;
	z-index: 1;
}

.home .content img {
	height: 25rem;
	width: 25rem;
	border-radius: 50%;
	object-fit: cover;
	border: var(--border);
}

.home .content h3 {
	color: var(--main-color);
	font-size: 4rem;
	text-transform: uppercase;
}

.home .content h3 span {
	color: var(--hover-text);
	font-size: 4rem;
	text-transform: uppercase;
}

.home .content p {
	color: var(--hover-text);
	font-size: 2.5rem;
}

.home #particles-js {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
}

.home::before {
	content: '';
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
}

.about .row {
	display: flex;
	flex-flow: wrap;
	gap: 1rem;
	align-items: center;
}

.about .row .image {
	text-align: center;
	flex: 1 1 25rem;
}

.about .row .image img {
	width: 30rem;
	border: var(--border);
	border-radius: 0.5rem;
}

.about .row .content {
	flex: 1 1 55rem;
}


.about .row .content h3 {
	color: var(--main-color);
	font-size: 4rem;
}

.about .row .content h3 span {
	color: var(--hover-text);
}

.about .row .content .info {
	color: var(--hover-text);
	font-size: 1.7rem;
	padding: 1rem 0;
	line-height: 2;
}

.about .row .content .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 1rem 0;
}

.about .row .content .box-container .box {
	flex: 1 1 20rem;
}

.about .row .content .box-container .box p {
	font-size: 1.7rem;
	color: var(--hover-text);
	padding: 1rem 0;
	line-height: 1;
}

.about .row .content .box-container .box p span {
	color: var(--main-color);
}

.services .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.services .box-container .box {
	flex: 1 1 30rem;
	border-radius: 0.5rem;
	background: var(--light-black);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	padding: 2rem;
	text-align: center;
}

.services .box-container .box i {
	color: var(--main-color);
	font-size: 3rem;
	padding: 1rem 0;
}

.services .box-container .box h3 {
	color: var(--hover-text);
	font-size: 2.5rem;
	padding-top: 1rem;
}

.services .box-container .box p {
	color: var(--white-color);
	font-size: 1.7rem;
	padding-top: 1rem;
	line-height: 2;
}

.portfolio .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.portfolio .box-container .box {
	flex: 1 1 30rem;
	border-radius: 0.5rem;
	border: var(--border); /*1rem solid #fff*/
	position: relative;
	overflow: hidden;
	height: 25rem;
}

.portfolio .box-container .box img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.portfolio .box-container .box .content {
	position: absolute;
	left: 0; top: -100%;
	background: #fff8;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

.portfolio .box-container .box:hover .content {
	top: 0;
}

.blogs .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.blogs .box-container .box {
	flex: 1 1 30rem;
	border-radius: 0.5rem;
	background: var(--light-black);
	padding: 2rem;
}

.blogs .box-container .box img {
	height: 25rem;
	width: 100%;
	border-radius: 0.5rem;
	object-fit: cover;
}

.blogs .box-container .box h3 {
	color: var(--main-color);
	font-size: 2.5rem;
	padding: 0.5rem 0;
}

.blogs .box-container .box p {
	color: var(--hover-text);
	font-size: 1.7rem;
	padding: 0.5rem 0;
}

.contact .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.contact .row .image {
	flex:  1 1 40rem;
}

.contact .row .image img {
	width: 100%;
}

.contact .row form {
	flex: 1 1 40rem;
	border-radius: 0.5rem;
	background: var(--light-black);
	padding: 1rem 2rem;
}

.contact .row form .inputBox {
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

.contact .row form .inputBox input, 
.contact .row form .box, 
.contact .row form textarea {
	width: 100%;
	border-radius: 0.5rem;
	font-size: 1.7rem;
	color: var(--light-black);
	padding: 1rem;
	margin: 1rem 0;
	border: 0.5rem solid var(--hover-text);
}

.contact .row form .inputBox input:focus, 
.contact .row form .box:focus, 
.contact .row form textarea:focus {
	border-color: var(--main-color);
}

.contact .row form .inputBox input {
	width: 49%;
}

.contact .row form .inputBox textarea {
	height: 25rem;
	resize: none;
}

.contact .row form .btn {
	margin: 0.5rem 0;
}

.footer {
	padding: 2.5rem;
	font-size: 2rem;
	color: var(--white-color);
	text-align: center;
	justify-content: center;
	border-top: 0.3rem solid var(--main-color);
	background: var(--light-black);
}

.footer span {
	color: var(--main-color);
}


@media (max-width: 991px) {
	html {
		font-size: 55%;
	}

	#menu-btn {
		display: initial;
	}

	section {
		padding: 2rem;
	}

	body {
		padding-right: 0;
	}

	header {
		width: 100%;
		left: -120%;
	}

	header.active {
		left: 0;
	}

	header .navbar {
		writing-mode: horizontal-tb;
	}

	header .navbar a {
		display: block;
		font-size: 3rem;
	}
} 

@media (max-width: 768px) {
	html {
		font-size: 50%;
	}
}


@media (max-width: 450px) {
	html {
		font-size: 50%;
	}

	.heading {
		font-size: 4rem;
	}

	.contact .row form .inputBox input {
		width: 100%;
	}

}


@media (max-width: 200px) {
	html {
		font-size: 40%;
	}

	.heading {
		font-size: 2rem;
	}

}